<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">←</a>
    {% endif %}

    {% for page in page_obj.paginator.page_range %}
        {% if page == page_obj.number %}
            <a href="?page={{ page }}">{{ page }}</a>
        {% elif page >= page_obj.number|add:-2 and page <= page_obj.number|add:3 %}
            <a href="?page={{ page }}">{{ page }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">→</a>
    {% endif %}
</div>