{% extends 'base.html' %}
{% load static %}

{% block title %} Редактирование автомобиля {% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/cars-form.css' %}">{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
        <div class="fields">
        {% for field in form %}
            {% if field.errors %}<span>{{ field.errors }}</span>{% endif %}
            {{ field.label}} {{ field }}
        {% endfor %}
    </div>
    <button>Сохранить</button>
</form>
{% endblock %}