{% extends 'base.html' %}

{% block title %} {{ car.make }} {{ car.model }} {{ car.year }} {% endblock %}

{% block content %}
    <h1>{{ car.make }} {{ car.model }}</h1>

    <p>Марка: {{ car.make }}</p>
    <p>Модель: {{ car.model }}</p>
    <p>Год выпуска: {{ car.year }}</p>
    <p>Описание: {{ car.description }}</p>
    <p>Владелец: {{ car.owner }}</p>

    <hr>

    {% if request.user == car.owner %}
    <a href="{% url 'cars:cars-update' car.slug %}">Редактировать</a>
    <br>
    <a href="{% url 'cars:cars-delete' car.slug %}">Удалить</a>
    {% endif %}

    <hr>
    <h2>Комментарии:</h2>
    {% for comment in comments %}
        <p>{{ comment.content }}</p>
        <p>Автор: {{ comment.author }}</p>
        <p>Дата создания: {{ comment.created_at }}</p>
        <hr>
    {% endfor %}

    <h3>Добавить комментарий:</h3>
    <form action="" method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Добавить комментарий</button>
    </form>
{% endblock %}