{% extends 'base.html' %}
{% load static %}

{% block title %}Автомобили{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/cars-list.css' %}">
{% endblock %}

{% block content %}
            <nav>
                <a href="{% url 'cars:cars-create' %}">Добавить автомобиль</a>
            </nav>
            {% for car in cars_list %}
                <article onclick="location.href='{% url 'cars:cars-detail' slug=car.slug %}';">
                    <h2>{{ car.make }} {{ car.model }} {{ car.year }}</h2>
                </article>
            {% endfor %}

            {% if cars_list|length > 3 %}
                {% include 'includes/pagination.html' %}
            {% endif %}
{% endblock %}